.user-list {
    display: grid;
    width: min-content;
    max-height: 100%;
    overflow: auto;
    transition: all 4s ease-in-out;
    padding: 2rem 0;
}

.user-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-index {
    font-weight: bold;
    margin: 0 1rem;
    grid-column: 1;
    align-self: center;
}